.bg-img{
    height:60vh;
    min-width:100%;
    font-size:80px;

    background-image: url('25.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "LyonDisplay-Bold", Sans-Serif;
    font-weight:800;
    color:white;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);*/
}

h1 {
  font-size:65px;
  font-family: "LyonDisplay-Bold", Sans-Serif;
}

.uk-container {
  margin:75px;
}


p {
  font-size:18px;
}
