@font-face {
  font-family: LyonDisplay-Black;
  src: url(fonts/LyonDisplay-Black.otf);
}

@font-face {
  font-family: LyonDisplay-BlackItalic;
  src: url(fonts/LyonDisplay-BlackItalic.otf);
}

@font-face {
  font-family: LyonDisplay-Bold;
  src: url(fonts/LyonDisplay-Bold.otf);
}

@font-face {
  font-family: LyonDisplay-BoldItalic;
  src: url(fonts/LyonDisplay-BoldItalic.otf);
}

@font-face {
  font-family: LyonDisplay-Light;
  src: url(fonts/LyonDisplay-Light.otf);
}

@font-face {
  font-family: LyonDisplay-LightItalic;
  src: url(fonts/LyonDisplay-LightItalic.otf);
}

@font-face {
  font-family: LyonDisplay-Medium;
  src: url(fonts/LyonDisplay-Medium.otf);
}

@font-face {
  font-family: LyonDisplay-MediumItalic;
  src: url(fonts/LyonDisplay-MediumItalic.otf);
}

@font-face {
  font-family: LyonDisplay-Regular;
  src: url(fonts/LyonDisplay-Regular.otf);
}

@font-face {
  font-family: LyonDisplay-RegularItalic;
  src: url(fonts/LyonDisplay-RegularItalic.otf);
}

a {
  font-weight: bold;
  color:#7D7773;
  text-decoration: none;
}

a:hover {
  color:#B4ACA6;
}

/*Global Flex Class*/
.flex-parent {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.flex-parent-left {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
	font-family: 'LyonDisplay-Regular', sans-serif;
	line-height:1.5;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	/* max-width:100%; */
}

span.hamburger {
    font-size:3.5em;
    cursor:pointer;
    color:black;
    margin:10px;
    z-index:300000; /*Skal ligge over alt annet*/
    line-height: 1;
    font-family: "LyonDisplay-Regular", sans-serif;

    position: fixed;
    top: 0;
    right: 0;
}

span.awa h1 {
    font-size:2em;
    cursor:pointer;
    color:white;
    margin:10px;
    max-width:400px;
    z-index:1; /*Skal ligge over alt annet*/
    line-height: 1;

    position: absolute;
    top: 0;
    left: 0;

		font-family: "LyonDisplay-Light", sans-serif;
	  text-align:left;
}

/*--------------Fullscreen Navigation----------------*/

/*Animation for å ha en smooth overgang til mørkere farge*/
@keyframes transitionIn { /*Overgangen inn til fullskjerm navigasjonen*/
  from {background-color: rgba(0,0,0, 0);
  }
  to {background-color: rgba(0,0,0, 1);}
}

.overlay {
    min-height: 100%; /*Skal dekke hele siden, både vertikalt og lodrett*/
    min-width: 100%;
    max-height: 100%;
    max-width:100%;
    display: none;
    /* position: fixed; */

    position: fixed; top: 0; right: 0; bottom: 0; left: 0;

    z-index: 1000; /*Overlayen skal ha første prioritet fordi den skal være over alt aka*/
    /*top: 0;*/
    /*left: 0;*/
    background-color: rgb(0,0,0, 0);
    background-color: rgba(0,0,0, 1);
    /*background-color:#001f3f;*/
    animation-name: transitionIn; /**/
    animation-duration: 0.7s; /*Overgangen skal vare i 0.7 sekunder, passer perfekt*/
}

.overlay-content {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width:100%;
}

.overlay-content a {
    font-family: 'LyonDisplay-Bold', sans-serif;
		/* margin: 0.7vh; */
    text-decoration: none;
    font-size: 8vh;
    display: block;
    /*transition: 0.3s;*/
    -webkit-transition: font-size 0.1s, padding 0.5s, color 0.3s; /* Safari */
    transition: font-size 0.1s, padding 0.5s, color 0.5s;

    /*background: url("https://media.giphy.com/media/3o751YKIPE1hgXhcEU/giphy.gif");*/
    background:url("https://i.pinimg.com/originals/fb/c3/a6/fbc3a674db5cf625e18f2b22d5be1d62.gif");
    background-size:cover; /*Was auto with commented gif*/
    color:transparent;
    -moz-background-clip: text;
	  -webkit-background-clip: text;
}

.overlay a:hover, .overlay a:focus{ /*Focus = når du tykker tab endrer den farge også*/
    color: white; /*Endrer fargen på teksten fra gjennomsiktig til hvit*/
    padding-left:50px; /*Skyver teksten litt ut mot høyre som gir en kul effekt*/
}


/*Footer*/
footer {
    /* min-width:100%; */
    min-height:30vh;
    min-width:100%;
    max-width:100%;

    background-color: #262626;

    display:flex;
    flex-wrap:wrap;
    /*justify-content: space-around;*/
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    align-content: stretch;

    color:white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

li a {
  display: block;
  color:#f6f6f6;
  /*text-align: center;*/
  /* padding: 14px 16px; */
  text-decoration: none;
}

img {
    max-width:150px;
}

footer li {
    /*line-height:1.5;*/
    font-size:25px;
}

footer div {
    /* padding:10px; */
}

 /*Style all font awesome icons */
.fab {
  padding: 16px;
  font-size: 3em;
  min-width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin:10px;
}

 /*Add a hover effect if you want */
.fab:hover {
  opacity: 0.9;
}

 /*Set a specific color for each brand */

 /*Facebook */
.fa-facebook-f {
  background: #4267B2;
  color: white;
}

 /*Twitter */
.fa-linkedin {
  background: #2867B2;
  color: white;
}

/*Blockquote styling*/
blockquote {
   color:#AAAAAA;
   font-family: "LyonDisplay-RegularItalic", sans-serif;
   font-size: 27px;
   width: 85%;
   /*margin: 0 auto;*/
   /* max-width:100%; */
}
blockquote h1 {
   font-size: 4rem;
}
blockquote p {
   font-style: italic;
   margin-bottom: 0;
}

blockquote p::before,
blockquote p::after {
   content: "“";
   font-family: "LyonDisplay-RegularItalic", sans-serif;
   font-size: 8rem;
   margin: -2rem 0 0 -4rem;
   position: absolute;
   opacity: 0.5;
}

blockquote p::after {
   content: "”";
   margin: -3.5rem -4rem 0 0;
}

blockquote cite {
    font-size: 1.2rem;
}
