--font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

* {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    margin:0; padding:0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    /*box-sizing: inherit;*/
}

hr {
    border:0.7px solid #d6dbe0;
    margin:8vh;
    /*width:auto;*/
    border-radius: 25px;
}

h2, a{
  font-size: calc(120% + 0.5vw);
  line-height: 1;
  font-weight: 200;
  text-decoration:none;
  /*padding:35px;*/
  color:#0070f3;
}

.logo {
    font-size: calc(110% + 0.5vw);
    line-height: 1.5;
}

.nav-bar { /*Parent*/
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.link {
    margin:15px;
    line-height: 1.5;
}
