* {
  font-family: 'Montserrat', sans-serif;
  margin:0; padding:0;
}

.logo, a{
  line-height: 1.38;
  font-weight:700;
  color: #000;
  font-size: calc(120% + 1vw);
  line-height: 44px;
  font-weight: 700;
  text-decoration:none;
  padding:35px;
}

.contact a {
  padding:30px;
  font-size: 19px;
  font-weight:400
    
}

.column {
  float: right;
  width: 50%;
}

.row {
  display: flex;
}

.column {
/*   flex: 50%; */
  margin:20px;
}


.container{
  display:flex;
  margin:auto;
  width:50%;
  flex-wrap: wrap;
  text-align:center;
  justify-content:space-evenly;
  margin-top:100px;
}

.item {
  width:350px;
  height:300px;
  /*background-color:#001628;*/
  margin:auto;
  border: 2px solid black;
  border-radius:12px;
  margin:20px;
  color:black;
}

.item h2 {
  font-weight:700;
  font-size:30px;
  margin:13px;
}

img {
    width:350px;
}
