* {padding:0; margin:0;}

html, body {
    font-family: "Raleway", Sans-Serif, Times New Roman;
    text-align: center;
    color:#58595B; /*Grå ish farge på teksten*/
    background-color:#001f3f;
}

div.intro {
    width:100%;
    height:100%;
    padding-top: 30px;
    font-size:25px;
    color:#FFFFFF;
}

div.links {
    margin-top:100px;
}

.links a {
    padding-top:10px;
    color:white;
    text-decoration: underline;
    font-size:2em;
}

/*Når du holder over linkene endres fargene*/
.links a:hover {
    color:#AAAAAA;
}

/*Fargen på ordet Frei*/
#frei {
    color:#0074D9;
    font-weight: bolder;
}

.footer {
    width:100%;
    height:100px;
    position:fixed;
    bottom:0; /*Denne koden trengs for å få footeren til å holde seg nederst*/
    background-color:red;
}

.footer img{
    width:100px;
}