<html>
  <head>
    <title>Cheatsheets</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app">
      <div class="search-wrapper">
        <!--<input type="text" v-model="search" placeholder="Search title.." />-->
        <!--<label>Search title:</label>-->
      </div>

      <h1>{{ header }}</h1>
      <p> Hey! I'm <a href="https://freibj.github.com">@freibj</a> and this is a modest collection of cheatsheets I've written.
      <br><br>
      You can search for Name or Category
      </p>
      

      <div class="search">
        <form
          data-js-search-form=""
          class="search"
          action="."
          method="get"
          _lpchecked="1"
        >
          <label class="search-box">
            <span class="prefix">Freibj.github.io</span>
            <span class="sep">/</span>
            <input
              name="q"
              type="text"
              autofocus=""
              v-model="search"
              data-js-search-input=""
              placeholder="Search..."
            />
          </label>
        </form>
      </div>

      <div class="wrapper">
        
        <h2>Recently Added</h2>
        
        <div class="category">
          
          <div class="card" v-for="post in filteredList">
          
            <!--<a v-bind:href="post.link" target="_blank">-->
              <!--<img v-bind:src="post.img" />-->
              <!--<small>posted by: {{ post.author }}</small>-->
              <p>{{ post.title }}</p>
            </a>
            
          </div>
        </div>
        
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.9/vue.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
