.news .bg-img {
    height:60vh;
    min-width:100%;
    font-size:80px;

    background-image: url('/assets/25.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "LyonDisplay-Bold", Sans-Serif;
    font-weight:800;
    color:white;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);*/
}

.news-sec {
  font-family: "LyonDisplay-Regular", sans-serif;

  /* max-width:50vw; */
  /* margin-top:100px; */
  /* margin-bottom:100px; */
  text-align:center;
  margin:20px;
}

h1{
  font-size:70px;

  color:#262626;
  text-decoration: none;
}

.contact-sec p, .contact-sec a {
  font-size:20px;
}
